:root {
  --ifm-color-primary: #3a6ee8;
  --ifm-color-primary-dark: #325ecc;
  --ifm-color-primary-darker: #2c52b4;
  --ifm-color-primary-darkest: #1f3a80;
  --ifm-color-primary-light: #567dea;
  --ifm-color-primary-lighter: #6c8dee;
  --ifm-color-primary-lightest: #9db0f4;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #89a8ff;
  --ifm-color-primary-dark: #6c8ef2;
  --ifm-color-primary-darker: #5e7edd;
  --ifm-color-primary-darkest: #4159a4;
  --ifm-color-primary-light: #a4bfff;
  --ifm-color-primary-lighter: #bed2ff;
  --ifm-color-primary-lightest: #dbe5ff;
}

